@font-face {
    font-family: 'Antropos';
    src: url('../font/antropos.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
    background: no-repeat;
    background-image: url('../img/background/fundocontato.png');
    background-size: 100% 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    background-color: #305930;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    border-radius: 8px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 8px 0;
    border-radius: 8px;
}

.nav-bar a {
    font-size: 1.2em;
    color: #FF7518;
    padding: 8px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: #FF7518;
    color: #305930;
}

header.shrink {
    height: 70px;
    font-size: 0.9em;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 0 20px;
}

header.shrink a {
    color: #305930;
    font-weight: 600;
}

.menu-btn {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
}

.close-btn {
    display: none;
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 2.7em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

main {
    padding-top: 200px;
}

.titulo-turmas {
    font-family: 'Antropos', sans-serif;
    color: #305930;
    text-align: center;
    font-size: 3em;
}

.bloco-texto h2 {
    font-family: 'Antropos', sans-serif;
    color: #305930;
    text-align: center;
    font-size: 3em;
}

.bloco-texto {
    margin: 50px 5vw;
    border-radius: 12px;
    padding: 30px 0;
    background-color: #ffd8a800;
    margin-bottom: 150px;
}

.bloco-texto p {
    margin: 25px 10vw;
    font-size: 1.5em;
    color: #305930;
    font-weight: 550;
}

.txt-estrutura {
    font-family: 'Antropos', sans-serif;
    color: #305930;
    text-align: center;
    font-size: 3em;
}

.bloco-fotos {
    margin: 50px 5vw;
    border-radius: 12px;
    background-color: #B5EAD7;
}

.contato {
    color: #305930;
}

.contato h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Antropos', sans-serif;
    color: #305930;
}

.divisao {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.blocos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tel-mail h3,
.endereco h3,
.horario h3 {
    font-family: 'Antropos', sans-serif;
    color: #305930;
    font-weight: normal;
}

.tel-mail {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tel-mail div {
    background-color: #FEEFC4;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(112, 112, 112);
}

.endereco,
.horario {
    background-color: #FEEFC4;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(112, 112, 112);
}

.mapa {
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(112, 112, 112);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background-color: #305930;
    color: #FFFFFF;
    font-size: 1.2em;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 50px;
}

.social-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.social-footer a {
    line-height: 1.6;
    text-decoration: none;
    color: #FFFFFF;
}

.whatsapp {
    width: 0;
    position: fixed;
    top: 80vh;
    right: -50px;
}

.whatsapp a {
    text-decoration: none;
}

.whats-img {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Antropos', sans-serif;
    width: 250px;
    top: 30px;
    right: 5px;
}

.whats-img img {
    width: 70px;
    border-radius: 50px;
}



@media screen and (min-width: 1024px) {
    .logo {
        height: 100px;
        width: 100px;
    }

    header.shrink img {
        height: 40px;
        width: 40px;
    }

    .banner,
    .banner img {
        height: 750px;
    }

    .banner img {
        padding-top: 120px;
        max-height: 750px;
    }
     .contato {
        padding: 20px 0;
    }

    .tel-mail {
        width: 550px;
    }

    .tel-mail div {
        padding: 0 50px;
    }

    .endereco,
    .horario {
        width: 550px;
        padding: 0 50px;
    }

    .mapa {
        margin: 10px;
        width: 550px;
        height: 436.417px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        height: 80px;
        width: 80px;
    }

    .nav-bar a {
        font-size: 1em;
    }

    header.shrink img {
        height: 40px;
        width: 40px;
    }
        .contato {
        padding: 20px 0;
    }

    .tel-mail {
        width: 550px;
    }

    .tel-mail div {
        padding: 0 50px;
    }

    .endereco,
    .horario {
        width: 550px;
        padding: 0 50px;
    }

    .mapa {
        margin: 10px;
        width: 550px;
        height: 436.417px;
    }
}

@media screen and (max-width: 767px) {
    header {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo {
        margin: auto;
        height: 80px;
        width: 80px;
    }

    .menu-btn {
        display: block;
    }

    header.shrink .menu-btn {
        color: #305930;
    }

    .nav-bar {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #305930;
        padding-top: 80px;
        transition: left 0.3s ease;
    }

    .nav-bar.active {
        right: 0
    }

    .nav-bar ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-bar a {
        padding: 1rem;
        font-size: 1.5em;
    }

    .nav-bar a:hover {
        background-color: transparent;
        color: #FF7518;
    }

    .close-btn {
        display: block;
    }

    header.shrink img {
        height: 40px;
        width: 40px;
    }

    main {
        padding-top: 80px;
    }

    
    .contato {
        padding: 20px 5vw;
    }

    .tel-mail div,
    .endereco,
    .horario,
    .mapa {
        width: 70vw;
        padding: 0;
        text-align: center;
    }

    .tel-mail {
        flex-direction: column;
    }

    .tel-mail div {
        padding: 0 50px;
    }

    .endereco,
    .horario {
        padding: 0 50px;
    }

    .mapa {
        margin: 10px;
        height: 400px;
    }
    .footer-content {
        flex-direction: column;
    }

    .whatsapp {
        right: -70px;
    }

    .whats-img img{
        width: 50px;
    }
}